apiVersion: appconnect.ibm.com/v1beta1
kind: Dashboard
metadata:
  name: dashboard
  namespace: ace01-dev
spec:
  license:
    accept: true
    license: ${ACE_LICENSE}
    use: AppConnectEnterpriseNonProductionFREE
  logFormat: basic
  logLevel: info
  pod:
    containers:
      content-server:
        resources:
          limits:
            cpu: 250m
      control-ui:
        resources:
          limits:
            cpu: 250m
            memory: 250Mi
  replicas: 1
  storage:
    class: ${FILE_STORAGECLASS}
    size: 5Gi
    type: persistent-claim
  useCommonServices: false
  version: ${ACE_VERSION}