kind: ImageStream
apiVersion: image.openshift.io/v1
metadata:
  name: ace-server-prod
  namespace: ace01-ci
spec:
  lookupPolicy:
    local: false
  tags:
    - name: latest-amd64
      from:
        kind: DockerImage
        name: ${ACE_IMAGE}
      importPolicy:
        importMode: Legacy
      referencePolicy:
        type: Source